.profile__edit-button {
  height: 18px;
  width: 18px;
  position: absolute;
  right: -29px;
  top: 7px;
  background-image: url(../../../images/EditButton.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    height: 24px;
    width: 24px;
    right: -40px;
    top: 16px;
  }
}
