.profile__add-card-button {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 285px;
  text-align: center;
  height: 50px;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .profile__add-card-button {
    background-image: url(../../../images/Plus1280.svg);
    width: 150px;
    margin-left: auto;
  }
}
